.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.laptop {
  height: 600px;
  width: 600px;
}

p {
  padding-bottom: 15px;
}
